@charset "UTF-8";


// Important
@import "base/settings";
@import "vendors/doggystyle/imports";

// Optional
@import "base/fonts";
@import "base/svg-symbols";
@import "base/mixins";

// Components
@import "components/footer",
        "components/modal",
        "components/navigation";

// Pages
@import "pages/introduction",
        "pages/about",
        "pages/work",
        "pages/couture",
        "pages/blog",
        "pages/instagram",
        "pages/recommendations",
        "pages/contact";

slider-container { @include clearfix;
  slider-slide { float:left; @include size(200); background-color:$red; display:block; margin:5px;
    color:white;  font-size:30px; line-height:200px;
    &.current { background-color:$blue; }
  }
}



// Global
%heading {
  font-weight:normal; @extend .font1; width:100%; color:$purple;
  @include responsive-fontsize(40, 30);
  @include break($large) { text-align:center; }
}

.button { @include button; }

.gallery { position:relative; width:100%; display:block; @include clearfix; margin-top:$space0;
  image-element { @include aspect-ratio(1); background-color:col($purple, 0.5); @extend %pointer; @include grid(5, $gap); margin-bottom:$gap; position:relative;
    &:before { background-color:$purple; opacity:0; @include ani(opacity); }
    &:hover:before { opacity:0.7; }
  }
  @include break($small) {
    image-element { @include grid(3, $gap); }
  }
}

h1 { color:$purple; @extend .font4;  }

p a { color:$purple; @include ani(color);
  &:hover { color:$purple3}
}

p { line-height:30px; }

ol, ul { margin-bottom:$gap;
  li { position:relative; display:block; margin-top:$gaps/2 + px; padding-left:20px;
    &:before { color:inherit; position:absolute; top:1px; left:0; }
  }
}
ul li:before { content:$circle; }
ol { counter-reset: counter;
  li:before { content: counter(counter)'.';  counter-increment: counter; }
}

a {  @include ani(opacity color);
  &:hover { opacity:1; }
}

main img { width:100%; display:block; max-width:$large + px; margin-top:$gap; margin-bottom:$gap; }

language-switcher { position:fixed; top:$gap; right:$gap; z-index:9999;
  a { color:$purple3;
    &:hover { color:$purple; }
  }
}

body { overflow-y:hidden;
  &[data-single-page='true'] {
    overflow-x:hidden;
    @include break($min) { overflow-x:visible }
    main-wrapper {
      width:100vw;
    }
  }
  &[data-single-page='false'] main-wrapper { @include flex-container((wrap:no-wrap, direction:row, items:stretch));
    overflow-y:hidden;
    width:800vw;

    @include clearfix;
    page-section {  width:100vw; position:relative; overflow:scroll; background-color:white;
      background-image, video-background { position:absolute; }
// @include flex-remove;
      // > * { display:none $imp; }

      // &#about { @include fade-horizontal(#f6f0f5, 40);}
      &#work { @include fade-horizontal(#f9f9f9, 20, start, after); @include fade-horizontal(#f9f9f9, 20, end); }
      // &#couture { }
      &#instagram { @include fade-horizontal();}
      &#recommendations { @include fade-horizontal(#EFE8DA);}
      &#contact { @include fade-horizontal(#F5F4FC);}
      &#blog { @include fade-horizontal();}
    }
    @include break($medium) {
        width:100vw; overflow-y:auto;
       @include flex-container((wrap:wrap, direction:column, items:initial));
      //  page-section { min-height:auto; }
    }
  }

  &.dark {
    @include break($medium min-width) {
      nav.main > div a { color:white;
        &.current span, &:hover span { color:$purple3; }
      }
    }
    footer {
      p { color:white; }
      a { color:$purple3; }
    }
  }


  main-wrapper { min-width:$min + px; @include ani(height 0 1);
    &:before { @extend %sudo, %nopointerevents; background-color:white; opacity:0; z-index:1000; @include ani(opacity 0 0.8)}

    @include break($medium) {
      height:auto $imp;
    }
    // > a { display:none; }
  }

  &.disable {
    page-section { overflow:hidden $imp; }
    main-wrapper:before { opacity:0.8; }
  }

  page-section { position:relative; height:100vh; padding-bottom:calc(10vh + 50px); overflow:hidden;
    // @include flex-container((justify:center, items:center));
    background-image { @extend %full; position:fixed; background-repeat: no-repeat; height:100vh; background-size:cover; background-position:center center;
      &:before { content:""; position:absolute; bottom:0; left:0; width:100%; z-index:2; height:20vh; @include gradient(transparent, white); }
    }
    @include break($medium) {
      min-height:auto;
      &:not(#introduction) {
        @include flex-remove; height:auto;
      }
    }
    &.current { }

    &#introduction { background-position:right center; background-image:none; min-height:100vh; @include flex-container((justify:center, items:center)); }
    &#about { background-position:left center;  }
    &#work { background-position:left center; }
    &#couture { }
    &#blog { background-position:right center; }
    &#instagram {background-color:white;
      background-image {
        &:not(.fallback) { @include blend-mix; @include saturate(50); opacity:0.1; }
        &.fallback { background-image:url($images + 'background6.jpg'); background-size:100% 100%; background-position:center bottom; opacity:1; }
      }
    }
    &#recommendations { background-size:100% 100%; background-position:center bottom; }
    &#contact { background-position:left center; @include flex-container((justify:center, items:center));}

    main, main-content { position:relative; //overflow:scroll;
      max-width:$large + px; margin:0 auto; display:block; width:100%; z-index:10;
      @include padding($space2 $gap 0 $gap, $gap medium);

      h1 { margin-bottom:$space0; position:relative; width:100%; display:block; font-family: "PoiretOne", Helvetica, Arial, sans-serif $imp; @extend %uppercase; font-weight:bold;  }

      section { position:relative; }

    }

    @include break($medium) {
     text-align:center;

    }
  }


  // @include break($medium) { overflow-y:auto;
  //   main-container { width:100%;
  //     page-section { height:auto; min-height:100vh; width:inherit;
  //       main-content { width:100%; padding:$gap2 $gap; }
  //       &#about { @include fade-vertical(#f5f0ed);}
  //       &#work { @include fade-vertical(#edeaf1, 20, start, after); @include fade-vertical(#f9f9f9, 20, end) { z-index:1;};}
  //       &#couture { @include fade-vertical(#eeeeee);}
  //       &#blog { @include fade-vertical();}
  //       &#recommendations { @include fade-vertical(#f9f5f3, 40); }
  //       &#contact { background-position:center center; @include fade-vertical();}
  //     }
  //   }
  // }
}

coming-soon { position:fixed; bottom:$gap3; width:100%; text-align:center; display:block; color:$orange; @include font-size(20); }

// Error Page
body[id*='error-'], body[class*='error-'] { background:url($images + "background2.jpg") center center / cover no-repeat;
  main-wrapper { width:100%; height:100%; @include flex-container((direction:column, items:center, justify:center));
    main { @include flex-remove; text-align:center;
      h1 { text-align:center; display:table; margin:0 auto $gap auto; }
      button { color:$purple;
        &:hover { color:$black; }
      }
    }
  }
}
