{% set recommendations = craft.entries({section:'recommendations'}) %}

<page-section id="recommendations">
  {% include '_includes/featured-image' with {'image':'background7.jpg'} %}
    <main{{ not single ? '-content'}}>
      <h1>{{ 'Recommendations'|t }}</h1>
      <div data-count="6">
        {% for recommendation in recommendations %}
          <article>
            {{ recommendation.title|h1 }}
            {{ recommendation.description|default('no description')|p }}
            {{ recommendation.website ? ("Find out more about " ~ recommendation.title)|link(recommendation.website, {'target':'blank', 'title':recommendation.title, 'classes':'button'}) }}
          </article>
        {% endfor %}
      </div>
    </main{{ not single ? '-content'}}>
</page-section>
