<page-section id="recommendations">
  <main{{ not single ? '-content'}}>
    <h1>Recommendations</h1>
    {% for entry in craft.entries.section('recommendations') %}
      <article>
        {{ entry.title|h1 }}
        {{ entry.recommendationLink|link(entry.recommendationLink, null, 'blank') }}
        {{ entry.recommendationDescription|p }}
      </article>
    {% endfor %}
  </main{{ not single ? '-content'}}>
</page-section>
