{% set imageElementTag = imageElementTag is defined and imageElementTag is not empty ? imageElementTag : 'featured-image' %}
{% set toneArea = toneArea is defined and toneArea is not empty ? toneArea : 'top-left' %}

{% if image is defined and image is not empty and (images ~ '/' ~ image)|exists %}

  <{{imageElementTag}} style="background-image:url('{{images}}/{{image}}')" data-tone='{{ (images~'/'~image)|tone }}'></{{imageElementTag}}>

{% elseif image is defined and image is not empty and (images ~ '/default-' ~ image)|exists %}

  <{{imageElementTag}} style="background-image:url('{{images}}/default-{{image}}')" data-tone='{{ (images~'/default-'~image)|tone }}'></{{imageElementTag}}>

{% elseif image is defined and image is not empty and (image)|exists %}

  <{{imageElementTag}} style="background-image:url('{{image}}')" data-tone='{{ (image)|tone }}'></{{imageElementTag}}>

{% elseif entry is defined and entry is not empty and entry.featured is defined and entry.featured is not empty %}

  {{ entry.featured|image({
    'url':false,
    'element':imageElementTag,
    'fallback':(fallback is defined and fallback is not empty ? fallback : null),
    'transform':(isMobile ? featuredMobile : featured),
    'tone':toneArea,
    })
  }}

{% elseif category is defined and category is not empty and category.featured is defined and category.featured is not empty %}

  {{ category.featured|image({
    'url':false,
    'element':imageElementTag,
    'fallback':(fallback is defined and fallback is not empty ? fallback : null),
    'transform':(isMobile ? featuredMobile : featured),
    'tone':toneArea,
    })
  }}

{% elseif fallback is defined and fallback is not empty %}

  {% if (images ~ '/' ~ fallback)|exists and fallback is not same as(true) %}

    <{{imageElementTag}} style="background-image:url('{{images}}/{{ fallback }}')" data-tone='{{ (images~'/'~fallback)|tone }}'></{{imageElementTag}}>

  {% else %}

    <{{imageElementTag}} style="background-image:url('{{images}}/default-featured.jpg')" data-tone='{{ (images~'/default-featured.jpg')|tone }}'></{{imageElementTag}}>

  {% endif %}

{% endif %}
