{% cache unless currentUser %}
  <footer>
    <small>
      <p>&copy; {{ "now" | date('Y') }} {{ siteName }}. {{ ('All rights reserved')|t }}. <a href="http://www.writethisdown.co.uk" title="{{ ('Developed by')|t }} Write This Down" target="_blank">{{ ('Developed by')|t }} Write This Down</a></p>
    </small>
  </footer>
{% endcache %}
