<language-switcher>

  {% set otherLocales = craft.i18n.getSiteLocaleIds()|without(craft.locale) %}
  {% for locale in otherLocales %}

    {% set localeEntry = entry is defined ? craft.entries.id(entry.id).locale(locale).first %}
    {% set localeName = craft.i18n.getLocaleById(locale).nativeName|title %}

    {% if localeEntry.locale is defined %}

      <a href="{{ localeEntry.getUrl() }}">{{ localeName }}</a>

    {% else %}

      {% set urlSegments = [] %}
      {% for segment in craft.request.getSegments %}
        {% set urlSegments = urlSegments|merge([segment|slugify]) %}
      {% endfor %}

      <a href="{{ craft.config.siteUrl[locale]|trim('/') }}/{{ urlSegments|join('/') }}">{{ localeName }}</a>

    {% endif %}

  {% endfor %}

</language-switcher>
