{# Important #}
<meta charset="utf-8" />
<meta name="author" content="{{siteName}}">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="language" content="en">
{# <base href="/"> #}
<link rel="home" href="{{ siteUrl }}" />

{# Viewport #}
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width, height=device-height"/>

{% if grab.plugin('seomatic') %}
  {% hook 'seomaticRender' %}
{% else %}

  {# Fallback Meta Data if SEOMatic is not installed/enabled #}

  {% set metaTitle         = grab.content('metaTitle')|default %}
  {% set metaDescription   = grab.content('metaDescription')|default %}
  {% set metaCanonical     = grab.content('metaCanonical')|default %}
  {% set metaPublishedTime = grab.content('metaPublishedTime')|date('Y-m-d')|default(now|date('Y-m-d')) %}
  {% set metaModifiedTime  = grab.content('metaModifiedTime')|date('Y-m-d')|default(now|date('Y-m-d')) %}
  {% set metaType          = grab.content('metaType')|default('website') %}
  {% set metaRobots        = craft.app.isSystemOn ? grab.content('metaType')|default('robots, follow') : 'norobots, nofollow' %}

  {% set metaImage = grab.content('metaType') %}
  {%- set metaImage -%}
    {% if metaImage is defined  %}
      {{- metaImage -}}
    {% elseif entry.metaImage is defined and entry.metaImage|length %}
      {{- entry.metaImage.first().getUrl({mode:'crop', width:300, height:300, quality:80, position:'center-center'}) -}}
    {% elseif entry.featured is defined and entry.featured|length %}
      {{- entry.featured.first().getUrl({mode:'crop', width:300, height:300, quality:80, position:'center-center'}) -}}
    {% else %}
      {{- images is defined ? images|default('/assets/images') ~ "/favicons/tile-large.jpg" : null -}}
    {% endif %}
  {%- endset -%}

  {% set metaImage = (metaImage)|exists ? metaImage : null %}

  <title>{{ grab.title(metaTitle|default(null)) }}</title>

  {% if metaDescription %}<meta name="description" content="{{ metaDescription }}">{% endif %}
  {% if metaRobots %}
    <meta name="robots" content="{{ metaRobots }}">
    <meta name="googlebot" content="{{ metaRobots }}">
  {% endif %}

  {# Social Media #}
  {% set facebook = grab.globals('facebook', 'social') %}
  {% set twitter  = grab.globals('twitter', 'social') %}
  {% set google   = grab.globals('google', 'social') %}
  {% set linkedin = grab.globals('linkedin', 'social') %}
  {% set youtube  = grab.globals('youtube', 'social') %}
  {% set vimeo    = grab.globals('vimeo', 'social') %}

  {# Google+ - Schema Markup #}
  <meta itemprop="name" content="{{ title|default(siteName) }}">
  <meta name="theme-color" content="{{ theme }}">
  {% if metaDescription %}<meta itemprop="description" content="{{ metaDescription }}">{% endif %}
  {% if metaImage %}<meta itemprop="image" content="{{metaImage}}">{% endif %}
  {% if metaPublishedTime %}<meta itemprop="datePublished" content="{{ metaPublishedTime }}"/>{% endif %}
  {% if google %}<link rel="publisher" href="{{ google }}">{% endif %}

  {# Twitter - Summery Card #}
  <meta name="twitter:card" content="{{ metaImage ? 'summary_large_image' : 'summary' }}" />
  {% if twitter %}
    <meta name="twitter:site" content="@{{ segment(twitter, 'first') }}" />
    <meta name="twitter:creator" content="@{{ segment(twitter, 'first') }}">
  {% endif %}
  <meta name="twitter:title" content="{{ title|default(siteName) }}" />
  {% if metaImage %}<meta name="twitter:image" content="{{metaImage}}" />{% endif %}
  {% if metaDescription %}<meta name="twitter:description" content="{{ metaDescription }}" />{% endif %}
  <meta name="twitter:url" content="{{ craft.request.getUrl() }}" />

  {# Facebook - Open Graph #}
  {# <meta property="fb:app_id" content="123456789"> #}
  <meta property="og:url" content="{{ craft.request.getUrl() }}" />
  <meta property="og:title" content="{{ title|default(siteName) }}"/>
  <meta property="og:site_name" content="{{ siteName }}"/>
  <meta property="og:locale" content="{{ locale.id|default('en') }}">
  {% if metaType %}<meta property="og:type" content="{{ metaType }}" />{% endif %}
  {% if metaImage %}<meta property="og:image" content="{{metaImage}}"/>{% endif %}
  {% if metaDescription %}<meta property="og:description" content="{{ metaDescription }}"/>{% endif %}
  {% if metaPublishedTime %}<meta property="article:published_time" content="{{ metaPublishedTime }}" />{% endif %}
  {% if metaModifiedTime %}<meta property="article:modified_time" content="{{ metaModifiedTime }}" />{% endif %}
  {% if author is defined and not author is empty %} <meta property="article:{{ author.name }}" content="">{% endif %}

  {# Canonical #}
  {% if metaCanonical %}<link rel="canonical" href="{{ metaCanonical }}" />{% endif %}
{% endif %}

{# Windows 8 mobile tiles #}
{% if browser.agent.is('Windows') %}
  <meta name="msapplication-TileColor" content="{{theme}}"/>
  <meta name="application-name" content="{{ title|default(siteName) }}" />
  {% if (images~'/favicons/apple-touch-icon.png')|exists %}
    <meta name="msapplication-TileImage" content="{{images}}/favicons/apple-touch-icon.png">
  {% endif %}
{% endif %}

{# Internet Explorer #}
{% if browser.is('ie') %}
  <meta http-equiv="cleartype" content="on">
  <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
  <meta name="msapplication-TileColor" content="{{theme}}">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="msapplication-config" content="ieconfig.xml">
  {% if (images~'/favicons/apple-touch-icon.png')|exists %}
    <meta name="msapplication-TileImage" content="{{images}}/favicons/apple-touch-icon.png">
  {% endif %}
{% endif %}

{# Pinterest #}
{% if browser.agent.isDesktop() %}
  <meta name="pinterest" content="nopin" />
{% endif %}

{# Apple #}
{% if craft.browser is defined %}
  {% if browser.agent.is('OS X') or browser.agent.is('iPhone') or browser.agent.is('iPad') or browser.agent.is('iPod') %}
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-title" content="{{ title|default(siteName) }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes">
    {% if (images~'/favicons/apple-touch-icon.png')|exists %}
      <link rel="apple-touch-icon" href="{{images}}/favicons/apple-touch-icon.png">
      <link rel="apple-touch-icon-precomposed" href="{{images}}/favicons/apple-touch-icon.png">
      <link rel="apple-touch-startup-image" href="{{images}}/favicons/apple-touch-icon.png">
    {% endif %}
  {% endif %}
{% endif %}

{# Android #}
<meta name="theme-color" content="{{theme}}">
<meta name="mobile-web-app-capable" content="yes">

{# MacOSX - El Capitan #}
{% if browser.agent.is('OS X') and (images~'/sprites/icon.svg')|exists %}
  <link rel="mask-icon" href="{{images}}/sprites/icon.svg" color="{{theme}}">
{% endif %}

{# Favicons #}
{% if (images~'/favicons/favicon.ico')|exists %}   <link rel="shortcut icon" href="{{images}}/favicons/favicon.ico" type="image/x-icon" />   {% endif %}
{% if (images~'/favicons/favicon-16.png')|exists %}<link rel="icon" href="{{images}}/favicons/favicon-16.png" sizes="16x16" type="image/png">{% endif %}
{% if (images~'/favicons/favicon-32.png')|exists %}<link rel="icon" href="{{images}}/favicons/favicon-32.png" sizes="32x32" type="image/png">{% endif %}
{% if (images~'/favicons/favicon-48.png')|exists %}<link rel="icon" href="{{images}}/favicons/favicon-48.png" sizes="48x48" type="image/png">{% endif %}
{% if (images~'/favicons/favicon-64.png')|exists %}<link rel="icon" href="{{images}}/favicons/favicon-64.png" sizes="64x64" type="image/png">{% endif %}

{# RSS Feed #}
{% if '/feed.rss'|exists %}<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.rss" />{% endif %}

{# Humans #}
{% if '/humans.txt'|exists %}<link rel="author" href="/humans.txt" />{% endif %}

{# No Javascript Check #}
{% if not robot %}
<noscript><meta http-equiv="refresh" content="0; url=http://www.enable-javascript.com/" /></noscript>
{% endif %}

{% if craft.request.isMobileBrowser(true) %}
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  {# AMP
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline": "{{metaTitle ? metaTitle : title}}",
      "datePublished": "{{entry.dateCreated.iso8601()}}",
      "image": [
        "{{metaImage}}"
      ]
    }
  </script>
  #}
{% endif %}
