{% set menu = ['introduction', 'about', 'work', 'blog', 'instagram', 'contact'] %}

{% if httpStatus() == '503' %}
  <coming-soon>Coming Soon</coming-soon>
{% else %}
  <nav class="main">
    {% for item in menu %}
      {% if loop.first %}<div>{% endif %}
      {% if (loop.length / 2) == (loop.index0) %}
        </div><span></span><div>
      {% endif %}

        {% if single %}
          {% if item == 'couture' %}
            {% if isMobile and not single %}
              <a href="/{{ craft.locale != 'en' ? craft.locale ~ '/' }}#{{ item }}"><span>{{grab.entry(item).title|default(item|title)|t}}</span></a>
            {% else %}
              <a href="{{ grab.entry(item, 'work').url }}"><span>{{grab.entry(item).title|default(item|title)|t}}</span></a>
            {% endif %}
          {% else %}
            {% if isMobile and not single %}
              <a href="/{{ craft.locale != 'en' ? craft.locale ~ '/' }}{{ isMobile ? '#' }}{{ item }}"><span>{{grab.entry(item).title|default(item|title)|t}}</span></a>
            {% else %}
              <a href="/{{ craft.locale != 'en' ? craft.locale ~ '/' }}{{ item == 'introduction' ? '' : item  }}"><span>{{grab.entry(item).title|default(item|title)|t}}</span></a>
            {% endif %}
          {% endif %}
        {% else %}
          <a href="#{{ item }}"><span>{{grab.entry(item).title|default(item|title)|t}}</span></a>
        {% endif %}

      {% if loop.last %}</div>{% endif %}
    {% endfor %}
    {% if not single %}<button class="previous">{{ sprite('arrow-left') }}</button>{% endif %}
    <button class="menu">
      <svg width="30" height="30" viewBox="0 0 30 30">
        <g>
          <rect width="100%" height="10%" y="0%"/>
          <rect width="100%" height="10%" y="45%"/>
          <rect width="100%" height="10%" y="90%"/>
        </g>
      </svg>
    </button>
  {% if not single %}<button class="next">{{ sprite('arrow-right') }}</button>{% endif %}
  </nav>
{% endif %}
