{% cache globally using key 'settings' %}
  {% set settings = {
    theme      : '#C0FFEE',
    imageElementTag : 'background-image',
    transforms : {
      background     : { mode:'crop', width:1920, height:1080, quality:80, position:'center-center'},
      featured       : { mode:'Fit',  width:1080,  height:720, quality:80, position:'center-center'},
      featuredMobile : { mode:'crop', width:480,  height:640,  quality:60, position:'center-center'},
      workFeatured       : { mode:'Fit',  width:1080, quality:80, },
      workFeaturedMobile : { mode:'Fit', width:480,  height:640,  quality:60},
      header         : { mode:'Fit',  height:800, quality:80,  position:'center-center'},
      thumb          : { mode:'crop', width:300,  height:300,  quality:80, position:'center-center'},
      polaroid       : { mode:'crop', width:442,  height:452,  quality:80, position:'center-center'},
      mobile         : { mode:'crop', width:640,  height:1136, quality:60, position:'center-center'},
    },
    email : general.email|default('erika@erikaturunen.com')
  } %}
  {{ settings|json_encode|raw }}
{% endcache %}
