{% set keepItSecret = false %}
{% set currentVersion = CraftEdition == 0 ? "Personal" : CraftEdition == 1 ? "Client" : CraftEdition == 2 ? "Pro" : "Personal" %}

<input type="hidden" name="edition" id="edition" value="{{ CraftEdition }}">

<h2>Change your Craft Edition</h2>
{% if not keepItSecret %}
  <p>Please note, using this plugin in a real-world scenario is illegal and highly unethical. Please support the Pixel &amp; Tonic team by <a href="https://craftcms.com/pricing" target="_blank">paying for a license</a> that suits your needs. </p>
  <p>This was built for testing purposes only. There seems to be some inconsistencies with licences that are carried over from local environments to live servers. Whilst waiting on technical support to revive existing licences, this plugin can be used to get a site working correctly in the interim.</p>
{% endif %}
<h3>You are currently on the <strong>Craft {{currentVersion}}</strong> edition. Please select the Craft CMS version you would like to use:</h3>

<nav class="edition-buttons">
  <button data-edition="0"{{ CraftEdition == 0 ? ' class="current"'}}>Personal<span>Free</span></button>
  <button data-edition="1"{{ CraftEdition == 1 ? ' class="current"'}}>Client<span>$199</span></button>
  <button data-edition="2"{{ CraftEdition == 2 ? ' class="current"'}}>Pro<span>$299</span></button>
</nav>

{% set myCss %}
  .edition-buttons { margin:32px 0 0 0;}

  h3 strong { color:#DB5B47;}

  .edition-buttons button { 
    position:relative;
    background-color:white; 
    font-weight: 500;
    font-size: 20px;
    color: #DB5B47;
    letter-spacing: 3.3px;
    line-height: 14px;
    border: 1px solid #DB5B47;
    border-radius: 5px;
    padding: 10px;
    text-align:center;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 32px; 
    font-family:proxima-nova, sans-serif;
    outline:none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .edition-buttons button.current, .edition-buttons button:hover {
    background-color:#DB5B47;
    color:white; 
    cursor:pointer;
  }

  .edition-buttons button.current { cursor:auto}

  .edition-buttons button span {
    font-size:10px;
    width: 100%;
    color: #DB5B47;
    position: absolute;
    left: 0;
    bottom: -18px;
    {% if keepItSecret %}
      display:none !important;
    {% endif %}
  }

  @media (max-width: 470px) {
    .edition-buttons button { width:100%; }
  }

{% endset %}

{% includeCss myCss %}

{% set myJs %}
  var buttons = $(".edition-buttons button");
  buttons.click(function(e){
    e.preventDefault();
    buttons.removeClass('current');
    $(this).addClass('current');
    $('input#settings-edition').val($(this).data('edition'));
  });
{% endset %}

{% includeJs myJs %}