{% macro admin(entry) %}
  {% if currentUser and currentUser.admin %}
    <admin-links>
      <a class="admin-cp" href="/admin" title="Go to Control Panel" target="_blank">Control Panel</a>
      {% if entry is defined and entry is not empty %}
        <span>|</span><a class="admin-edit" href="{{ entry.cpEditUrl|removePort }}" title="Edit this page" target="_blank">Edit this page</a>
      {% endif %}
    </admin-links>
  {% endif %}
{% endmacro %}
