{% macro urlSegmentsToString %}
  {% set urlSegments = [] %}
  {% for segment in craft.request.getSegments %}
    {% set urlSegments = urlSegments|merge([segment|slugify]) %}
  {% endfor %}
  {{ urlSegments|join('/') }}
{% endmacro %}
