{% extends "_layouts/basecp" %}
{% set title = "Install Craft"|t %}
{% includecssresource "css/install.css" %}
{% includejsresource "js/install.js" %}

{% includeTranslations
	"All done!",
	"Go to {app}"
%}

{% block body %}
	<div id="bg"></div>
	<div class="beginbtncontainer">
		<div id="beginbtn" class="btn big submit">{{ "Begin"|t }}</div>
	</div>

	{% include "_special/install/account" %}
	{% include "_special/install/site" %}
	{% include "_special/install/installing" %}

  {% set myJs %}
    $('input#username').val('Yello');
    $('input#email').val('support@yellostudio.co.uk');
    $("input#siteName").val($("input#siteName").val().replace("Www ", ""));
    $("select#locale").val('en_gb').change();
  {% endset %}

  {% includeJs myJs %}

{% endblock %}
