{% set about = craft.entries({section:'about'}).first() %}

<page-section id="about">
  {% include '_includes/featured-image' with {'image':'background2.jpg'} %}
    <main{{ not single ? '-content'}}>
      <polaroid-picture>
        {{ about.picture|image({'url':false, 'class':'picture', 'transform':{ mode: 'crop', width: 442, height: 452, quality: 75, position: 'center-center'}, 'fallback':'erika.jpg'}) }}
        <img src="{{images}}/polaroid.png" alt="About">
      </polaroid-picture>
      <section>
        <h1>{{about.title|t}}</h1>
        {{ about.body }}
      </section>
    </main{{ not single ? '-content'}}>
</page-section>
