footer { position:fixed; width:100%;   left:0; text-align:center; bottom:0; padding-bottom:1vh;
  a { display:inline-block; }
  p { font-size:10px; color:$text;}
  @include break($medium) {
    display:none;
  }
}
