modal-wrapper { @extend %full, %nopointerevent;opacity:0; @include scale(0.8); @include ani(scale $easeOutBack 5 0.3, opacity 0 0.3); @include gradient-vertical(#f1f0f0, white); z-index:1000; display:block; left:calc(3vw + #{$gap3}); top:6vh; width:calc(100% - 6vw - #{$gaps*6 + px}); height:calc(100% - 12vh); @include box-shadow(0, 0, 20px, col(black, 0.5));
  .background { position:absolute; top:-6vh; height:calc(100% + 12vh); width:calc(100% + 6vw + #{$gaps*6 + px});  left:calc(-3vw - #{$gap3}); @include gradient-horizontal(to right, transparent, col($purple2, 0.95) 10%, col($purple2, 0.95) 90%, transparent); display:block; }
  image-element { opacity:0; @include ani(opacity 0 0.8); z-index:1; background-color:$purple2;
    &.current { opacity:1; }
  }
  nav { position:absolute; top:50%; height:50px; margin-top:-25px; display:block; left: calc(-3vw - #{$gap2}); width:calc(100% + 6vw + #{$gap4});
    button { @include border-radius(circle); @include ani(color background-color 0 0.5, left right 5 0.5); @include box-shadow(0, 0, 20px, col($purple, 0.5)); color:$purple; font-size:30px; display:block;  background-color:white; @include size(50); position:absolute; top:0;
      &.prev {left:100px;
        &:before { content: $angle-left-2;}
      }
      &.next {right:100px;
        &:before { content: $angle-right-2;}
      }
      &:hover { background-color:$purple; color:white; }
      &.hide { opacity:0; @extend %nopointerevent; }
    }
  }
  @include break($medium) {
    .background { @include gradient-vertical(transparent, col($purple2, 0.95) 10%, col($purple2, 0.95) 90%, transparent); }
  }

  &.intro { opacity:1; @include scale(1);  @extend %pointerevents; @include ani(scale $easeOutBack 0 1, opacity 0 1);
    nav {
      button { @include ani(color background-color 0 0.5, left right $easeOutBack 1 0.5);
        &.prev { left:0; }
        &.next { right:0; }
      }
    }
  }
}
