nav.main { position:fixed; text-align:center; width:100%; bottom:-60px; @include ani(opacity, bottom 0 0.5 $easeOutBack);  pointer-events:auto $imp;   z-index:999; @include flex-container((direction:row, justify:center));

  &.hide { bottom:-60px; @extend %nopointerevent; }

  &.show { bottom:5vh;
    .previous, .next { opacity:1; }
    .previous { margin-left:-70px; }
    .next { margin-left:40px; }
  }

  &:before { content:""; position:fixed; bottom:0; left:0; @include gradient(transparent, col(white, 0.9)); height:250px; width:100%; @extend %nopointerevents; @include ani(opacity 0.5); opacity:0; }

  &.flash .menu:before { opacity:0; @include scale(2); @include ani(scale opacity 0 1);}

  > div { width:50%; @extend %nopointerevents;
    &:first-of-type { @include flex-container((direction:row, justify:flex-end));
      a { margin-left:-20px;
        @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) { @include ani(opacity 0.1*$i 0.5, margin-left 0.1*$i 0.5 $easeInOutBack); }
        }
      }
    }
    &:last-of-type { @include flex-container((direction:row, justify:flex-start));
      a { margin-right:-20px;
        @for $i from 1 through 4 {
          &:nth-of-type(#{(abs($i - 4)) + 1}) { @include ani(opacity 0.1*$i 0.5, margin-right 0.1*$i 0.5 $easeInOutBack); }
        }
      }
    }
    a { padding:$gap 1vw; @include responsive-fontsize(18); opacity:0; position:relative; font-weight:bold;
      span { @include ani(color); @extend .font2; }
      &:before { content:""; width:0; height:0; border-bottom:1px solid $purple; position:absolute; bottom:$gap0; left:calc(50% - #{$gap}); @include ani(left width 1 0.4 $easeInOutBack); }
      &.current span, &:hover span { color:$purple; }
      &.current {
        &:before { width:calc(100% - #{$gap2}); left:$gap; }
      }
    }
  }

  > span { width:(50 + $gaps*2) + px; }

  .previous, .next {
    position:absolute;
    display:block; left:50%; opacity:0;
    bottom:8px; @include ani(margin-left opacity 1 0.5, color 0 0.6);
    svg { fill:$purple; @include size(30); @include ani(fill); }
    &:hover svg { fill:$purple3; }
    &.disabled {  @extend %nopointerevent;
      svg { fill:col(white, 0.2) $imp; }
    }
  }
  .previous { margin-left:-50px; }
  .next { margin-left:20px; }

  // @include break($medium, min) {
  //   &[data-tone='dark'] {
  //     &:before { opacity:0 $imp; }
  //       .previous, .next {
  //         svg { fill:col($white, 0.5);  }
  //         &:hover svg { fill:$purple3; }
  //       }
  //       > div a {
  //       span { color:white; }
  //       &:hover span { color:$purple3 $imp; }
  //     }
  //   }
  // }

  .menu {
    position:absolute;
    background-color:white;
    left:50%; bottom:0;
    margin-left:-25px;
    @include size(50);
    @include box-shadow(0, 0, 5, col(black, 0.2));
    @include border-radius(circle);

    &:before { @extend %sudo, %nopointerevent; @include border-radius(circle); @include box-inner-shadow(0, 0, 15, $purple); @include box-shadow(0, 0, 15, $purple); @include scale(0.5); z-index:-1; }

    svg { position:absolute; left:50%; top:50%; margin-left:-50%; margin-top:-20%; height:40%; width:100%; overflow:visible;
      g { fill:$purple; @include ani(fill);
        rect {
          &:nth-of-type(1), &:nth-of-type(3) { @include transform-origin(50% 50%); @include transform(rotate(0)); @include ani(rotate width $easeInOutBack); }
          &:nth-of-type(2) { @include ani(opacity 0.2); }
        }
      }
    }
    &:hover {
      svg g { fill:lighten($purple, 30); }
    }
  }

  &.open {

    &:before { opacity:1; @include ani(opacity);}

    > div  { @extend %pointerevents;
      a { opacity:1; }
      &:first-of-type a { margin-left:0;
        @for $i from 1 through 4 {
          &:nth-of-type(#{(abs($i - 4)) + 1}) { @include ani(opacity 0.1*$i 0.5, margin-left 0.1*$i 0.5 $easeInOutBack); }
        }
      }
      &:last-of-type a { margin-right:0;
        @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) { @include ani(opacity 0.1*$i 0.5, margin-right 0.1*$i 0.5 $easeInOutBack); }
        }
      }
    }

    .previous, .next { opacity:0;
      @extend %nopointerevents;
      @include ani(margin-left opacity 0 0.4);
    }
    .previous { margin-left:-100px; }
    .next { margin-left:70px; }

    .menu {
      svg g { fill:lighten($purple, 30);
        rect {
          &:nth-of-type(1), &:nth-of-type(3) { @include ani(rotate width 0.2 $easeInOutBack); }
          &:nth-of-type(1) { @include transform(translate -12% 440%, rotate 45); width:40px;
            @at-root html[data-browser^='firefox'] & { @include transform(translate -30% 30%, rotate 45); }
          }
          &:nth-of-type(2) { opacity:0; @include ani(opacity);}
          &:nth-of-type(3) { @include transform(translate -12% -440%, rotate -45); width:40px;
            @at-root html[data-browser^='firefox'] & { @include transform(translate -30% -30%, rotate -45); }
          }
        }
      }
      &:hover svg g { fill:$purple; @include ani(fill 0);}
    }
  }

  @include break($medium) { display:block; padding-bottom:50 + $gap; @include ani(height 1 0); height:0;
    &:before { content:""; display:block; width:100%; height:calc(100% + 100px); opacity:0; background-color:white; pointer-events:none; position:absolute; left:0; top:-25px; @include ani(opacity 0.5 0.5); }

    &.open { @include ani(height 0 0.1); height:330px;
      &:before { opacity:1; @include ani(opacity 0 1);}
    }

    > div { @include flex-remove(true); position:relative; width:100%; margin:0 auto;
      &:last-of-type { margin-bottom:75px; }
      a { display:block; background-color:white; @include font-size(16); padding:$gap0 $gap;
        &:before { display:none; }
      }
    }

    .previous, .next { display:none; }
    // .next { @include rotate(90); margin-left:-16px $imp; bottom:-32px;  }

    > span { display:none; }
  }
}
