{% set dynamicLoad = false %}

{% if entry is not defined and craft.request.getParam('id') %}
  {% set dynamicLoad = true %}
  {% set entry = craft.entries.id(craft.request.getParam('id')).first().locale(craft.request.getParam('locale')) %}
  <work-container id="work-container">
    <container-background></container-background>
{% endif %}

{% if dynamicLoad %}
  {{ entry.featured|image({
    'url':false,
    'class':entry.featured|length ? null : 'fallback',
    'element':'background-image',
    'fallback':'background2.jpg',
    'transform':(isMobile ? featuredMobile : featured)
    })
  }}
  <article>
{% endif %}

{% set gallery = entry.gallery is defined and entry.gallery is not empty ? entry.gallery %}

<div>
  {{ entry.title|h1 }}
  {{ entry.body|cleanup }}
  {% if gallery %}
    <div class="mini-gallery">
      {{ gallery|images(thumb, {element:'image-thumb'})}}
    </div>
  {% endif %}
</div>

{% if dynamicLoad %}
  {% if gallery %}
    <div class="large-gallery" data-count="{{gallery|length}}">
      {{ gallery|images(header, {element:'image-element'})}}
    </div>
    <nav>
      <button class="prev">{{ sprite('arrow-left') }}</button>
      <button class="next">{{ sprite('arrow-right') }}</button>
    </nav>
    <button class="close">{{ svg('close') }}</button>
  {% endif %}
  </article>
  <button class="close-text">Close</button>
  </work-container>
{% endif %}
