{% extends '_layouts/main' %}

{% block content %}
  <page-section id="{{ grab.page }}">

    {{ entry.featured|image({
      'url':false,
      'class':entry.featured|length ? null : 'fallback',
      'element':'background-image',
      'fallback':'default-featured.jpg',
      'transform':(isMobile ? workFeaturedMobile : workFeatured),
      'size':true
      })
    }}

    <main{{ not single ? '-content'}}>
      {% include 'work/_content' %}

      {% set moreWork = craft.entries.section('work').id('not ' ~ entry.id|default ) %}
      {% if moreWork|length %}
        <quick-links>
          {{ "More work"|t|h4  }}
          {% nav entry in moreWork %}
            <a href="{{ entry.url }}">{{ entry.title|t }}</a>
          {% endnav %}
        </quick-links>
      {% endif %}

    </main{{ not single ? '-content'}}>

  </page-section>
{% endblock %}
