{% set work = craft.entries({section:'work'}).first() %}

<page-section id="work">

  {% include '_includes/featured-image' with {'image':'background3.jpg'} %}

  <main{{ not single ? '-content'}}>

    <h1>{{ "Work"|t }}</h1>

    {% set entries = craft.entries.section('work') %}
    {% set categories = craft.categories.relatedTo({ sourceElement:entries.ids() }).groupId(1).find() %}
    {% set categoryCount = 0 %}
    <nav>
      <{{ single ? "a href=/walk" : "button" }}> All </{{ single ? 'a' : 'button'}}>
      {% for category in categories %}
      {% set categoryCount = categoryCount + 1 %}
        <{{ single ? "a href="~ category.getUrl() : 'button' }}>
          {{ category.title|t }}
        </{{ single ? 'a' : 'button'}}>
      {% endfor %}
    </nav>

    {% set categoryCount = 0 %}
    <div class="lists">
      {% for category in categories %}
        {% set categoryCount = categoryCount + 1 %}
        <section>
          <div>
            {{ category.title|h2 }}
            <ul >
              {% for entry in craft.entries.relatedTo(category) %}
                <li>
                  <{{ single ? "a href="~ entry.getUrl() : 'button data-id=' ~ entry.id }}>
                    <image-element style="background-image:url({{ entry.featured|image(thumb, {'fallback':'default-thumb.jpg'}) }})"></image-element>
                    <span>
                      {{ category.title|t|h2 }}
                      {{ entry.title|t}}
                    </span>
                  </{{ single ? 'a' : 'button'}}>
                </li>
              {% endfor %}
            </ul>
          </div>
        </section>
      {% endfor %}
    </div>

  </main{{ not single ? '-content'}}>

</page-section>
