{# {% set entry = entry is not defined ? grab.entry('couture', 'work', true) ? entry %} #}

<page-section id="{{entry.slug|default}}" class="special">

  {{ entry.featured|image({
    'url':false,
    'class':entry.featured|length ? null : 'fallback',
    'element':'background-image',
    'fallback':'default-featured.jpg',
    'transform':(isMobile ? featuredMobile : featured)
    })
  }}

  <main{{ not single ? '-content'}}>
    {% include 'work/_content' with {'entry':entry} %}
  </main{{ not single ? '-content'}}>
</page-section>
