{# {% if craft.request.getSegment(1) == 'couture' %} #}
  {# {% redirect 'work/couture' %} #}
{# {% endif %} #}

{% extends '_layouts/main' %}

{% block content %}
  {% include 'work/_list' %}
{% endblock %}
