@include font-face('Geomanist Extralight', 'geomanist-extralight', eot ttf woff woff2);
@include font-face('Geomanist Regular', 'geomanist-regular', eot ttf woff woff2);
@include font-face('Geomanist Regular Italic', 'geomanist-regular-italic', eot ttf woff woff2);
@include font-face('PoiretOne', 'PoiretOne', eot ttf);

.font1 { font-family: "Geomanist Regular", Helvetica, Arial, sans-serif; @extend %font-smooth; }
.font2 { font-family: "Geomanist Extralight", Helvetica, Arial, sans-serif; @extend %font-smooth; }
.font3 { font-family: "Geomanist Regular Italic", Helvetica, Arial, sans-serif; @extend %font-smooth; }
.font4 { font-family: "PoiretOne", Helvetica, Arial, sans-serif; @extend %font-smooth; }
