@mixin fade-horizontal($colours:#fcfcfc, $size:20, $position:start, $sudo:before) {
  $colour1: first($colours);
  $colour2 : check(second($colours), first($colours), colour);
  @include break($medium, min-width) {
    &#{_sudo($sudo)} {  content:''; position:absolute; pointer-events:none; top:0; left:0; @include size(100%); width:add-unit($size*2, vw); @include gradient-right(col($colour1, 0) 0%, $colour1 40%, $colour2 60%, col($colour2, 0) 100%);
      @if $position == start {
        left:add-unit(- $size, vw);
      } @else {
        left:auto; right:add-unit(- $size, vw);
      }
      z-index:1;
      @content;
    }
  }
  @include break($medium, max-width) {
    &#{_sudo($sudo)} {  content:''; position:absolute; pointer-events:none; top:0; left:0; @include size(100%); height:add-unit($size*2, vw); @include gradient-top(col($colour1, 0) 0%, $colour1 50%, $colour2 50%, col($colour2, 0) 100%);
      @if $position == start {
        top:add-unit(- $size, vw);
      } @else {
        top:auto; bottom:add-unit(- $size, vw);
      }
      z-index:1;
      @content;
    }
  }
}

@mixin fade-vertical($colours:#fcfcfc, $size:40, $position:start, $sudo:before) {
  $colour1: first($colours);
  $colour2 : check(second($colours), first($colours), colour);
  @include break($medium max-width) {
    &#{_sudo($sudo)} {  content:''; position:absolute; top:0; left:0; @include size(100%); height:add-unit($size*2, vw); @include gradient-down(col($colour1, 0) 0%, $colour1 50%, $colour2 50%, col($colour2, 0) 100%);
      @if $position == start {
        top:add-unit(- $size, vw);
      } @else {
        top:auto; bottom:add-unit(- $size, vw);
      }
      @content;
    }
  }
}

@mixin button($colour:$purple) {
  display:block; color:$colour; text-align:center; padding:$gap0 $gap;
  border:1px solid col($colour, 0.2);
  position:relative; display:block; @extend .font1; @include ani(color background-color);
  @content;
  &:hover, &.select { color:white; background-color:$colour; }
}
