// Colours
$purple : #bd5c13;
$purple2 : lighten(#bd5c13, 20);
$purple3: lighten($purple, 30);
$black : #2c2c2c;
$orange : #bd5c13;
// Units
$border-radius : 10;
$gaps          : 16;
$font-size     : 16;
$spacer        : 2vh;
$h1            : 45;

// Breakpoints
// $medium        : 800;
// $large         : 970;
$max           : 1600;

// Misc
$block : 256px;

$show-breakpoints: true;
// $warnings:false;

// Settings
// Some settings need to be applied after all initial imports have been set.
// This mixin will be called at the end of the 'doggystyle/imports.scss' file.
// If defining any variables, make sure any variables include
// a !global flag so they can be accessed outside of this mixin.
@mixin update-settings() {
  @include add-breakpoint(
    'max' $max,
    'large' $large,
    'medium' $medium,
    'small' $small,
    'min' $min
  );
}
