%svg-common {
	background: url($images + "sprite-views.svg") no-repeat;
}

.svg-arrow-left {
	@extend %svg-common;
	background-position: 51.95175438596491% 62.36297198538368%;
}

.svg-arrow-left-size {
	width: 100px;
	height: 100px;
}

.svg-arrow-right {
	@extend %svg-common;
	background-position: 62.91666666666666% 62.36297198538368%;
}

.svg-arrow-right-size {
	width: 100px;
	height: 100px;
}

.svg-close {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-close-size {
	width: 500px;
	height: 500px;
}

.svg-heart {
	@extend %svg-common;
	background-position: 0 99.92193598750977%;
}

.svg-heart-size {
	width: 473.8px;
	height: 408.6px;
}

.svg-instagram {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-instagram-size {
	width: 512px;
	height: 512px;
}

