{% extends "_layouts/errors" %}
{% set title = "Bad Request"|t %}
{% set error = "Error 400" %}
{% set classes = error|slugify %}

{% block content %}
  <main>
    <h1>400: Bad Request</h1>
    <p>{{ "The request could not be understood by the server due to malformed syntax."|t }}</p>
    <button onclick="history.back(-1)">Go back</button>
  </main>
{% endblock %}
