{% extends "_layouts/errors" %}
{% set title = "Unauthorized"|t %}
{% set error = "Error 403" %}
{% set classes = error|slugify %}

{% block content %}
  <main>
    <h1>403: Forbidden</h1>
    <p>{{ "You don’t have the proper credentials to access this page."|t }}</p>
    <button onclick="history.back(-1)">Go back</button>
  </main>
{% endblock %}
