{% extends "_layouts/errors" %}
{% set title = "404 Error"|t %}
{% set error = "Error 404" %}
{% set classes = error|slugify %}

{% block content %}
	<main>
		<slider-container>
			<slider-slide>1</slider-slide>
			<slider-slide>2</slider-slide>
			<slider-slide>3</slider-slide>
			<slider-slide>4</slider-slide>
			<slider-slide>5</slider-slide>
		</slider-container>

    <h1>{{craft.request.lastSegment|replace({'_': '&#32;', '-': '&#32;'})|title|t|raw}} {{'page not found'|t}}</h1>
    <button onclick="history.back(-1)">Go back</button>
  </main>
{% endblock %}
