{% extends "_layouts/errors" %}
{% set title = "Internal Server Error"|t %}
{% set error = "Error 500" %}
{% set classes = error|slugify %}

{% block content %}
  <main>
    <h1>500: Internal server error</h1>
    <p>{{ "The server encountered an unexpected condition which prevented it from fulfilling the request."|t }}</p>
    <button onclick="history.back(-1)">Go back</button>
  </main>
{% endblock %}
