{% extends "_layouts/errors" %}
{% set title = (siteName ? siteName ~ ' | ') ~ 'Coming Soon' %}
{% set error = "Error 503" %}
{% set classes = error|slugify ~ " holding-page" %}

{% block content %}
  <h1>{{ siteName|default('This website') }} is currently under going some maintenance</h1>
  <h2>Please check back soon.</h2>
{% endblock %}
