{% set introduction = craft.entries({section:'introduction'}).first() %}

<page-section id="introduction" data-tone="dark">
  {% if isMobile or introduction.backgroundVideo is empty %}
    {# {% include '_includes/featured-image' with {'image':introduction.fallbackBackgroundImage.first().getUrl(isMobile ? featuredMobile : featured), 'fallback':'background1.jpg' } %} #}
    <background-gallery>
      {{ introduction.fallbackBackgroundImage|images({
        'url':false,
        'element':'background-image',
        'fallback':'background1.jpg',
        'transform':(isMobile ? featuredMobile : featured),
        'tone':true,
        })
      }}
    </background-gallery>
  {% else %}
    <video-background>

      {% if introduction.backgroundVideo is defined and introduction.backgroundVideo is not empty %}
        {% set videBg = [] %}

        {% for video in introduction.backgroundVideo %}
          {% set filename = video.filename|split('.') %}
          {% set videBg = videBg|merge([filename[1] ~ ': ' ~ videos ~ '/' ~ filename[0]]) %}
        {% endfor %}

        <div style="width: 100%; height:100%;"
          data-vide-bg="{{ videBg|join(', ')}}"
          data-vide-options="posterType: none, loop: true, position: 50% 50%">
        </div>

      {% else %}

        <div style="width: 100%; height:100%;"
          data-vide-bg="{{ videos }}/background"
          data-vide-options="posterType: none, loop: true, position: 50% 50%">
        </div>

      {% endif %}

    </video-background>
  {% endif %}

  <main{{ not single ? '-content'}}>
    {{ siteName|t|h1 }}
    {{ introduction.tagline|t|h2 }}
  </main{{ not single ? '-content'}}>
</page-section>
