#about {


  main, main-content {  @include flex-direction(row);

    polaroid-picture { @include flex-align-self(center); position:relative; width:100%; max-width:330px; top:-20px; @include rotate(-3); @include ani(rotate 0 0.8);
      img { position:relative; width:100%;
        &.picture { position:absolute; width:100%; height:auto; max-width:90%; top:20px; left:0; right:0; margin:auto;  }
      }
      &:hover { @include rotate(3); @include ani(rotate 0 0.4 $easeOutBack); }
    }

    section { display:block; padding-left:$gap2;
      h1 { @extend %heading; }
      p {  text-align:left;  @include font-size(20) }
    }

    @include break($large) { @include flex-direction(column);
      polaroid-picture { width:40vw; max-width:350px;}
      section { width:100%; padding:0 $gap3; margin-top:$gap2;
        p { text-align:center;  }
      }
    }

    @include break($small) {
      polaroid-picture { max-width:200px; width:200px; }
      section { width:100%; padding:0; margin-top:$gap;
        p {  @include font-size(16 40) }
      }
    }
  }
}
