// Entry List
html[lang='fi'] #blog main blog-list + button:before , html[lang='fi'] #blog main-content blog-list + button:before { content:"Näytä lisää"; }
html[lang='fi'] #blog main blog-list.no-more-entries + button:before , html[lang='fi'] #blog main-content blog-list.no-more-entries + button:before { content:"Kaikki blogitekstejä on lastattu"; }
#blog {
  background-image { background-position:center right; }
  h1 { @extend %heading; }
  main, main-content {

    blog-list { @include flex-container((wrap:wrap));

      article {text-align:left; overflow:hidden; padding-left:160 + $gaps + px; min-height:160px; margin-bottom:$gap; position:relative; @include flex-grid(2, $gap);
        > a, > button, h1, time { text-align:left; }
        > a, > button { display:block;
          image-element { position:absolute; @include size(160);
            &:before { @extend %sudo, %nopointerevents; background-color:$purple; opacity:0; @include ani(opacity); }
          }
          h1 { @include responsive-fontsize(30, 20); margin-bottom:0;  }
          time { color:$purple; margin: $gap0 0; display:block; @include responsive-fontsize(16, 14);}
          &:hover {
            image-element:before { opacity:0.5 }
          }
        }
      }

      & + button { @include button; width:100%; margin-top:$space0;
        &:before { content:"Show more"; position:relative; display:inline-block; }
        &.loading { @extend %nopointerevent; background:url($images + 'loader.gif') center center / 30px no-repeat;
          &:before { content:""; }
        }
      }
      &.no-more-entries {
        & + button { color:$black; border-color:$black; background-color:transparent $imp; opacity:0.3; @extend %nopointerevent;
          &:before { content:"All blog posts have been loaded"; }
        }
      }

      @include break($medium) {
        article { @include flex-remove; width:100%; margin:0 0 $gap 0 $imp;  }
      }

      @include break($small) {
        article { padding-left:50 + $gaps + px; min-height:50 + $gap;
          &:not(:last-of-type) { border-bottom:1px solid $purple2; padding-bottom:$gap; }
          h1, p, a, time { text-align:left; }
          > a, > button {
            image-element { @include size(50); }
          }
        }
      }
    }
    viewing-counter { position:relative; display:block; text-align:center; font-size:12px; margin-top:$gap0; }
  }
}

body.blog, body.work {

  page-section { text-align:left;
    background-image:not(.fallback) {
      @include blend-mix; @include saturate(50); opacity:0.1;
    }
    main {
      h1, h4 { margin-bottom:$gap0; color:$purple; }
      h2, h3 { color:$purple; @extend .font1; }
      time { margin-bottom:$space0; display:block; color:$purple; }
      p { line-height:170%; }
    }
  }

  pagination-nav, quick-links { position:relative; display:block; clear:both; margin-top:$space;
    a { @include button; display:inline-block; background-color:col(white, 0.4); margin-right:$gap;
      @include break($medium, min) {
        &:last-of-type { margin-right:0; }
      }
    }
  }
  quick-links {
    @include break($small) {
      a { display:block; margin:0 0 $gap0 0; width:100%;  }
    }
  }

  pagination-nav {
    @include break($medium) {
      a { @include grid(2, $gap) }
    }
  }
}
