#contact {
  main, main-content { text-align:center; position:initial;
    a { @include ani(color); display:block; }
    .email { @include responsive-fontsize(20, 18); color:$purple;
      &:hover { color:$purple3; }
    }
    .telephone { @include responsive-fontsize(18, 16); margin-top:$gap0;
      &:hover { color:$purple3; }
    }
  }
  footer { position:absolute; bottom:0px; z-index:4; 
    small p { color:$text;
      a { display:inline-block; color:$text; text-decoration:underline; }
    }
  }
  @include break($medium) {
    main, main-content { position:relative; }
    footer { display:none; }
  }
}
