#instagram  {
  main, main-content {
    h1 { @extend %heading; text-align:center; }
    instagram-gallery { @include flex-container((direction:row, wrap:wrap, justify:center)); position:relative;
      &#instafeed { display:none; }
      a { display:block; margin:$gap0; width:200px; position:relative; background-color:$purple;
        img { @include size(100%); @include ani(opacity); margin:0; }
        span.likes { display:block; position:absolute; bottom:$gap0; right:$gap0; color:white; @include text-shadow();
          svg { width:18px; height:20px; top:4px; position:relative; margin-right:$gap0; fill:$purple2;  }
        }
        &:hover {
          img { opacity:0.5; }
        }
        &.more {
          border:1px solid $purple; background-color:col(white, 0.6); color:$purple; @include ani(background-color 0 0.5);
          svg, span { position:absolute; top:0; bottom:0; right:0; left:0; margin:auto;  }
          svg { @include size(50%); @include ani(opacity 0.3);
            path { fill:$purple; }
          }
          span { position:absolute; display:table; font-size:24px; width:100%; text-align:center; opacity:0;  @include ani(opacity 0);}
          // @include border-radius(circle);
          &:hover {  background-color:white;
            svg { @include ani(opacity 0); opacity:0; }
            span { @include ani(opacity 0.3); opacity:1;}
          }
        }
      }
      @include break($medium) {
         max-width:400px; margin-left:auto; margin-right:auto; 
        a {
          &:nth-child(n+9) { display:none; }
          &:last-of-type { display:flex; max-height:100px; height:200px; @include flex-grow(1) }
          @include flex-grid(2);
        }
      }
    }
  }

}
