#introduction { background-color:#040305;
  video-background, background-image { @extend %full; margin:0; display:block; background-size:cover; position:fixed; background-position:center center;
    opacity:0; @include ani(opacity 0 3, scale 3 3);
  }
  background-gallery { display:block; overflow:hidden; position:absolute; height:100%; width:100%; }
  background-image { 
    &:before { display:none; }
  }

  main, main-content {
    h1, h2 { @extend .font4, %uppercase;
      letter-spacing: 5px;
      font-size:60px; font-weight:bold;
      text-align:center; width:100%;
      color:$white; opacity:0;
      margin-bottom:0;
      @include ani(opacity 1 3, color 2 2);
      @include text-shadow(0, 0, 20);
    }
    h2 { font-size:30px; }
  }

  &.loaded {
    video-background, background-image.show { opacity:1; @include scale(1.1); @include ani(opacity 0 3, scale 0 3);}
    main, main-content {
      h1 { opacity:1; color:$orange}
      h2 { opacity:1; color:$white}
    }
  }

}
