#recommendations {
  main, main-content {
    > h1 { @extend %heading; padding-left:$gap; }
    > div { width:100%; position:relative; @include flex-container((wrap:wrap));
      article { margin:$space0 $gap; text-align:left;
        @include flex-grid(3, $gap2);
        h1 { color:$purple; margin-bottom:$gap0; @include responsive-fontsize(30, 20) }
        p { display:block; position:relative; }
        p { line-height:22px; }
        a { margin-top:$gap; }
        @include break($large) {
          @include flex-grid(2, $gap2);
        }
        @include break($medium) {
          @include flex-grid(1);
          margin-left:auto; margin-right:auto; width:80%;
          h1, p, a { text-align:center; }
        }
      }
    }
  }
}
