#work, .special {
  &.disabled { @extend %nopointerevents; }
  main, main-content { @include ani(opacity 0 0.5);

    h1 { @extend %heading; width:100%; }

    nav { @include clearfix;
      button, a { @extend .button; display:inline-block; float:left; margin-right:$gap0;
        &.select { background-color:red }
      }
      // &[data-show='0'] ~ section { opacity:1; @extend %pointerevents; @include ani(opacity  0.3, height); }
      // @for $i from 1 through 4 {
      //  &[data-show='#{$i}'] ~ section:nth-of-type(#{$i}) { opacity:1; height:1000px; @extend %pointerevents; @include ani(opacity  0.3, height); }
      // }
    }
    section {
      overflow:hidden;

      > h2 { color:$black; display:block; padding-top:$gap; }

      > div { display:block; padding-bottom:$gap;}

      //&:not(:first-of-type) { border-top:1px solid col($orange, 0.2); }

      ul { width:100%; @include flex-container((wrap:wrap)); margin-bottom:0;

        &.loading { @extend %nopointerevent;
          > button:not(.loading), > a:not(.loading) { @include scale(0.9); opacity:0.5}
          > button.loading, > a.loading {
            span:after { opacity:1; }
          }
        }

        li { padding:0; @include grid(3, $gap); margin-top:$gap; @include box-shadow(0, 0, 5, col(black, 0.1)); @include ani(height width);
          &:before { display:none; }
        }
        button, a { width:100%;  @include ani(all 0 0.5 $easeInOutBack, opacity 0 0.5);}
        // &[data-count='3'] button, &[data-count='3'] a { @include flex-grid(3, $gap); }

        button, a {
          position:relative;

          // margin:$gap0;

          image-element {
            display:block; height:200px; width:100%;
            background-color:col($purple,0.2);
            position:relative;
            //@include aspect-ratio($ratio-16-9);
            @include filter(grayscale 50);
            @include ani(all); }

          span { position:relative; display:block; text-align:center;
            background-color:col(white, 0.7);
            overflow:hidden; padding:$gap $gap; @extend .font1;
            @include ani(color);

            h2 { color:$orange; font-size:12px; margin-bottom:3px}

            &:after { content:""; @extend %nopointerevent;
              @extend %nopointerevent; background:url($images + 'loader.gif') center center / 30px no-repeat;
              position:absolute; top:0; left:0; width:100%; height:100%;
              background-color:$white; color:white; opacity:0;
              line-height:50px;
              @include ani(opacity);
            }
          }

          &:hover {
            image-element { @include filter(grayscale 0); }
            span { color:$purple; }
          }
        }
      }
    }
    @include break($large) {
      section ul li { @include grid(2, $gap);
      }
    }
    @include break($medium) {
      h1 { text-align:center; }
      section ul li { @include grid(1, $gap);
        button, a, &[data-count='3'] button, &[data-count='3'] a { @include flex-remove; width:100%; max-width:$min + px; display:block; margin-left:auto; margin-right:auto;
          image-element { height:130px;}
        }

      }
    }
  }

}
body[data-single-page="true"] {
  work-container {

    image-element { position:absolute; background-color:$purple3; @include blend-background(overlay); }


  }
}




// Work container
work-container, blog-container {

  container-background {
    @extend %full; background:col(white, 0.5); @include ani(opacity 0 0.5);
    opacity:0; z-index:-1; width:100vw; left:50%; top:50%; @include translate(-50% -50%); height:100vh;
  }


  position:absolute;
  opacity:1;
  z-index:1000; display:block;
  // left:calc(3vw + #{$gap3});
  left:50%;
  top:$space2;
  width:calc(100% - 6vw - #{$gaps*6 + px});
  min-height:50vh;
  max-height:100vh;
  max-width:$large + px;
  margin-left:auto; margin-right:auto;
  opacity:0;
  border:1px solid col($purple, 0.5);
  @include ani(transform 0.3 0.3, opacity 0.5 0.5);
  // @include box-shadow(0, 0, 20px, col(black, 0.5));
  @include gradient-top(#f1f0f0, white);
  @include translateX(-50%);

  background-image {
    opacity:0; @include ani(opacity 1 1); height:100% $imp;
    &:not(.fallback) {
       @include saturate(50); opacity:0;
    }
  }

  &.intro { opacity:1; @extend %pointerevents; @include transform(-50% -50%); @include ani(transform 0 0.3, opacity 0 0.3 );
    container-background { opacity:1; @include ani(opacity 0.3 0.3); }
    background-image { opacity:1;
      &:not(.fallback) { opacity:0.1;  }
    }
    article {opacity:1; }
  }

  article { position:absolute; opacity:0; width:100%;  text-align:left; height:100%; @include ani(opacity 0 0.5); padding:$gap2; overflow:scroll; overflow-x:hidden $imp; -webkit-overflow-scrolling:touch;

    h1 { color:$purple; @extend %heading; width:100%; margin-bottom:$gap; }
    h2 { color:$purple;  width:100%; margin-bottom:$gap0; }

    time { @include responsive-fontsize(21, 19); display:block; margin-bottom:$gap; margin-top:-$gap;  }
    p { @include responsive-fontsize(18, 17); }

    .mini-gallery { position:relative; display:block; @include clearfix; margin-top:$space0;
      image-thumb { display:block; @include grid(5, $gap0); @include aspect-ratio(16 9); margin-bottom:$gap0;
        background-position:center center; background-size:cover; @extend %pointer;
        &:before { @include ani(opacity); opacity:0; background-color:$purple;}
        &:hover:before {  opacity:0.5; }
      }
      @include break($medium) {
        image-thumb { @include grid(2, $gap0); }
      }
      @include break($small) {
        image-thumb { @include grid(1, 0); }
      }
    }
    .large-gallery { position:absolute; display:block; top:0; margin-top:0; z-index:1; left:100%; height:100%; @include ani(left 0 0.5);
      @for $i from 1 through 20 {
        &[data-count="#{$i}"] { width:#{100*$i + '%'};
          image-element { width:#{100/$i + '%'} }
        }
        &[data-current="#{$i}"] { left:-#{100*($i - 1) + '%'}; }
      }
      image-element { height:100%; position:relative; float:left; margin:0; background-position:center center; }
      + nav {
        position:absolute; display:block; left:0; width:100%; top:50%; @include translateY(-50%); z-index:10; height:60px; @include ani(opacity); opacity:0; @extend %nopointerevent;
        button { @include size(60); @include ani(opacity);
          svg { @include size(100%); fill:$white; @include ani(fill); }
          &.prev {  float:left; }
          &.next {  float:right; }
          &:hover svg { fill:$purple3; }
        }
      }
      &.show-gallery-nav + nav { opacity:1; @extend %pointerevents; }
      &.show-gallery-nav ~ button.close { opacity:1 $imp; @extend %pointerevents; }
      &.first + nav button.prev { opacity:0; @extend %nopointerevent; }
      &.last + nav button.next { opacity:0; @extend %nopointerevent; }
    }
  }
  button.close { @include radius(circle); position:fixed; z-index:20; display:block; opacity:0; @extend %nopointerevent;  top:$gap; right:$gap; background-color:white; @include size(42); @include ani(background-color opacity rotate); border:1px solid $purple;
    svg {  @include size(18); }
      g line { stroke:$purple;
    }
    &:hover { background-color:white; @include rotate(90); }
  }
  button.close-text { @include button(white); border-color:$purple; background-color:$purple; position:absolute; width:100px; left:50%; margin-left:-50px;  bottom:-50px;
    &:hover { color:$purple; }
  }

  @include break($medium) {

    @include translate(0 0); top:$gap3; left:0;
    position:fixed; width:calc(100% - #{$gap2}); left:$gap;
    height:calc(100vh - #{$gap5} - 50px);
    button.close-text { display:block; }
    article { position:relative; padding:$gap;
      h1 { text-align:left $imp; }
    }
  }
}
