{% hook 'grabber' %}
{# {% set robot = true %} #}
{% set single = not settings.manualSinglePageSwitch or robot or error is defined or craft.request.segments|length %}
{% spaceless %}

<!DOCTYPE html>
<html lang="{{ locale.id|default('en') }}" {{ browser.data|default }} ⚡>
	<head>
    {% include "_includes/meta" %}

		{% cache unless currentUser %}
			<link rel="stylesheet" href="{{ (css ~ '/global.css')|version }}" />
		{% endcache %}

		<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

	</head>

  <body class="{{ grab.classes }}" data-single-page="{{ single ? 'true' : 'false' }}">

		{# Loop through all of the site locales, except the current ainone #}

		<main-wrapper>

			{% if single %}
				{% block content %}{% endblock %}
			{% else %}
				{% include "introduction/_content" %}
				{% include "about/_content" %}
				{% include "work/_list" %}
				{# {% include "work/_special" with {'entry':grab.entry('couture', 'work', true)} %} #}
				{% include "blog/_list" %}
				{% include "instagram/_content" %}
				{# {% include "recommendations/_content" %} #}
				{% include "contact/_content" %}
			{% endif %}

		</main-wrapper>

		{% include "_includes/language-switcher" %}
		{% include "_includes/navigation" %}

		{% if single %}
			{% include "_includes/footer" %}
		{% endif %}

		{% cache unless currentUser %}

			{{ loadsvg('sprite-symbols') }}

			{% for script in ['core', 'main'] %}
  			<script type="text/javascript" src="{{ (js ~ '/' ~ script ~ '.min.js') }}"{{ loop.index0 > 1 ? ' defer ' : null }}></script>
  		{% endfor %}

		{% endcache %}

	</body>

</html>

{% endspaceless %}
