

<!DOCTYPE html>
<html lang="{{ locale.id|default('en') }}" {{ browser.data|default }} ⚡>
	<head>
	</head>

  <body>
		<script type="text/javascript" src="/assets/js/core.min.js"></script>
		<script type="text/javascript" src="/assets/js/main.min.js"></script>
	</body>

</html>
