{% set contact = craft.entries({section:'contact'}).first() %}

<page-section id="contact">
  {% include '_includes/featured-image' with {'image':'background8.jpg'} %}
    <main{{ not single ? '-content'}}>
      {% set telephone = contact.telephone|default %}
      {% set email = contact.email|default %}

      {{ 'Contact'|t|h1 }}

      {% if email %}
        <a class="email" href='mailto:{{ email }}?subject={{'I was visiting your'|t }} {{siteName|t}} {{'site, and wanted to get in touch.'|t}}' target='_self'>{{ email }}</a>
      {% endif %}

      {% if telephone %}
        <a class='telephone' href="{{macro_tel_href(telephone|default('01392833516'))}}" target="_blank">
          {{telephone|default('01392 833 516')}}
        </a>
      {% endif %}

      {% if not single %}
        {% include "_includes/footer" %}
      {% endif %}

    </main{{ not single ? '-content'}}>
</page-section>
