{% set instagram = craft.entries({section:'instagram'}).first() %}
<page-section id="instagram">
    <main{{ not single ? '-content'}}>
      <h1>{{ 'Instagram'|t }}</h1>
      {{ instagram.body|div }}
      <instagram-gallery data-user-id="{{ instagram.userId }}" data-access-token="{{ instagram.accessToken }}" id="instafeed"></instagram-gallery>
      <instagram-gallery>
        <a href="https://www.instagram.com/p/BOoHlLSDBpt/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/e35/c257.0.565.565/14368962_360573004316008_8278072610000994304_n.jpg?ig_cache_key=MTQxNjQxNTQyMzg2ODE4MTEwMQ%3D%3D.2.c">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BOjz5F5jYL0/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15403539_251411911939045_1075669963668193280_n.jpg?ig_cache_key=MTQxNTIwMjkzMTY0MDk5MjUwMA%3D%3D.2">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BOg_uM0j8Cr/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c91.0.898.898/15534609_611264792396614_2406435927879581696_n.jpg?ig_cache_key=MTQxNDQxMDUzNDc4NzIwMzI0Mw%3D%3D.2.c">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BOemnVbDl8a/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15625114_126077294556009_870821691759001600_n.jpg?ig_cache_key=MTQxMzczNzE2MTg3MDQzNDA3NA%3D%3D.2">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BOYnrPmj1tm/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c0.134.1080.1080/15624320_389963178023514_7360871623701823488_n.jpg?ig_cache_key=MTQxMjA1Mjk3ODY4NTEzOTgxNA%3D%3D.2.c">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
          <a href="https://www.instagram.com/p/BOHUCWAjwVB/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15034740_1793402077575392_8256470152862760960_n.jpg?ig_cache_key=MTQwNzE4MTUzMDU3NzQzODAxNw%3D%3D.2">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BOGbApwjg_l/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15534706_210422196084302_3764433071374336000_n.jpg?ig_cache_key=MTQwNjkzMDcyNTY5MzY4OTgyOQ%3D%3D.2">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BN_kXkWDCuK/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c218.0.644.644/15535249_1836704656541454_3476157065490071552_n.jpg?ig_cache_key=MTQwNTAwMTU1ODAwOTg1MDc2Mg%3D%3D.2.c">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BN-aswYDDwh/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c145.0.790.790/15535533_1810526505886562_1776105599805685760_n.jpg?ig_cache_key=MTQwNDY3NzU1ODU5NTUwMTA4OQ%3D%3D.2.c">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BN4_qg6D2eH/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/15258745_347921888918914_7569433981465133056_n.jpg?ig_cache_key=MTQwMzE1MTI4MjQwNzk1ODQwNw%3D%3D.2">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BNkIIYJDF9R/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14515740_339889673050882_1413266620905684992_n.jpg?ig_cache_key=MTM5NzI3NzU0NDQ0MTIwODY1Nw%3D%3D.2">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BNhLxpxDAtx/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14597268_373186093015943_3775119224884690944_n.jpg?ig_cache_key=MTM5NjQ0OTE1MDA3MzgzNDM1Mw%3D%3D.2">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BL6EBroDZ01/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c0.134.1080.1080/14676572_1812303632382506_2101394637414465536_n.jpg?ig_cache_key=MTM2NzQyMzE0NDYwODc2NzI4NQ%3D%3D.2.c">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BL1E7zHDdEI/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14718238_1771861883074047_5475980828775284736_n.jpg?ig_cache_key=MTM2NjAxOTc2MzQ5MTE2NDQyNA%3D%3D.2">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BLUhIUmjfWE/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c84.0.912.912/14550130_205137629908587_1268665852417277952_n.jpg?ig_cache_key=MTM1Njg1NTA5NTE1NzcxNjM1Ng%3D%3D.2.c">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BLUg3Y1jbNJ/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14487190_313203135724272_9140435612778627072_n.jpg?ig_cache_key=MTM1Njg1MzkzMTQ3MzIyMDQyNQ%3D%3D.2">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BLUguYajqyw/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14474001_1133130663450299_8252404949137227776_n.jpg?ig_cache_key=MTM1Njg1MzMxMjU0NTAwODgxNg%3D%3D.2">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BOg_uM0j8Cr/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c91.0.898.898/15534609_611264792396614_2406435927879581696_n.jpg?ig_cache_key=MTQxNDQxMDUzNDc4NzIwMzI0Mw%3D%3D.2.c">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a href="https://www.instagram.com/p/BL1E7zHDdEI/" target="_blank">
          <img alt="" src="https://scontent-lhr3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14718238_1771861883074047_5475980828775284736_n.jpg?ig_cache_key=MTM2NjAxOTc2MzQ5MTE2NDQyNA%3D%3D.2">
          <span class="likes">{{symbol('heart')}}{{ random(100) }}</span>
        </a>
        <a class="more" href="https://www.instagram.com/{{instagram.instagramUsername|lower}}">
          {{ svg('instagram') }}
          {{'More'|t|span}}
        </a>
      </instagram-gallery>

    </main{{ not single ? '-content'}}>
</page-section>
