{# Entry content that can be loaded dynmically #}
{% set dynamicLoad = false %}

{% if entry is not defined and craft.request.getParam('id') %}
  {% set dynamicLoad = true %}
  {% set entry = craft.entries.id(craft.request.getParam('id')).first().locale(craft.request.getParam('locale')) %}
  <blog-container id="blog-container">
    <container-background></container-background>
{% endif %}

{% if dynamicLoad %}
  {{ entry.featured|image({
    'url':false,
    'class':entry.featured|length ? null : 'fallback',
    'element':'background-image',
    'fallback':'background2.jpg',
    'transform':(isMobile ? featuredMobile : featured)
    })
  }}
  <article>
{% endif %}

<div>
  {{ entry.title|t|h1 }}
  {{ entry|timestamp('d M Y') }}
  {{ entry.body|t|cleanup }}
</div>

{% if dynamicLoad %}
  </article>
  <button class="close-text">Close</button>
  </blog-container>
{% endif %}
