{# Entry page for single leyouts #}
{% extends '_layouts/main' %}

{% block content %}
  <page-section id="{{ grab.page }}">

    {{ entry.featured|image({
      'url':false,
      'class':entry.featured|length ? null : 'fallback',
      'element':'background-image',
      'fallback':'background2.jpg',
      'transform':(isMobile ? featuredMobile : featured)
      })
    }}

    <main{{ not single ? '-content'}}>
      {% include 'blog/_content' with {'entry':entry} %}

      {% set params = craft.entries.section('blog').order('title asc') %}
      {% set prevEntry = entry.getPrev(params) %}
      {% set nextEntry = entry.getNext(params) %}

      {% if prevEntry or nextEntry %}<pagination-nav>{% endif %}
        {% if prevEntry %}<a href="{{ prevEntry.url }}">{{ 'Previous'|t }}</a>{% endif %}
        {% if nextEntry %}<a href="{{ nextEntry.url }}">{{ 'Next'|t }}</a>{% endif %}
      {% if prevEntry or nextEntry %}</pagination-nav>{% endif %}

    </main{{ not single ? '-content'}}>

  </page-section>
{% endblock %}
