{# List of blog articles #}
{% set blogs = craft.entries({section:'blog'}) %}
{% set limit = 8 %}

<page-section id="blog">

  {% paginate blogs.limit(limit) as blog %}

  {% include '_includes/featured-image' with {'image':'background5.jpg'} %}

  <main{{ not single ? '-content'}}>

    <h1>{{ "Blog"|t }}</h1>

    <blog-list data-limit="{{limit}}" data-total-pages="{{ paginate.totalPages }}" data-total="{{ paginate.total }}">
      {% for blog in blogs.limit(limit).locale(locale) %}
        <article>
          {% if single or isMobile %} <a href="{{ blog.getUrl() }}"> {% else %} <button data-id="{{ blog.id }}"> {% endif %}
            {{ blog.featured|image({transform:{ mode:'crop', width:300, height:300, quality:80, position:'center-center'} , element:'image-element', url:false}) }}
            {{ blog.title|t|h1 }}
            {{ blog|timestamp('d M Y') }}
            {{ blog|snippet(15)|p }}
          {% if single or isMobile %} </a> {% else %} </button> {% endif %}
        </article>
      {% endfor %}
    </blog-list>

    <button class="show-more"></button>

    <viewing-counter>Viewing {{ blogs|length >= limit ? limit : blogs|length }} of {{ blogs|length }} posts</viewing-counter>

  </main{{ not single ? '-content'}}>

</page-section>
