{# File ajax uses to load article blocks #}
{% set blogs  = craft.entries.section('blog') %}
{% set offset = craft.request.getParam('offset') %}
{% set limit  = craft.request.getParam('limit') %}
{% set single = craft.request.getParam('single') == '1' %}
{% set locale = craft.request.getParam('locale') %}

{% for blog in blogs.limit(limit).offset(offset).locale(locale) %}
  <article class="new" data-id="{{blog.id}}">
    {% if single %} <a href="{{ blog.getUrl() }}"> {% else %} <button data-id="{{ blog.id }}"> {% endif %}
      {{ blog.featured|image({transform:{ mode:'crop', width:300, height:300, quality:80, position:'center-center'} , element:'image-element', url:false}) }}
      {{ blog.title|t|h1 }}
      {{ blog|timestamp('d M Y') }}
      {{ blog|snippet(15)|p }}
    {% if single %} </a> {% else %} </button> {% endif %}
  </article>
{% endfor %}
